@import "./reset.scss";
@import "./mixin.scss";

a {
  color: #000;
  text-decoration: none;
}

.main-content {
  display: flex;
  flex-direction: row;

  &-right {
    padding: 100px;
    margin-left: 279px;
  }
}

.c-navleft {
  min-width: 280px;
  box-sizing: border-box;
  border-right: 1px solid #eaecef;
  min-height: calc(100vh - 64px);
  position: fixed;
}

.prism-code {
  padding: 20px;
}

.token-line {
  line-height: 30px;
}

.md {
  padding-top: 40px;

  blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: .25em solid #dfe2e5;

    p {
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }


  h1 {
    color: #45526B;
    font-weight: 500;
    font-size: 24px;
    padding-bottom: 20px;
  }

  h2,
  h3 {
    color: #45526B;
    font-weight: 500;
    font-size: 20px;
    padding: 20px;
    padding-left: 0px;
  }

  h3 {
    font-size: 18px;
  }

  table {
    border-collapse: collapse;
    display: table;
    width: 100%;
    max-width: 100%;
    color: #45526b;
    margin-bottom: 40px;

    thead {
      background: #e8f0f9;
      line-height: 50px;

      tr:first-child {
        border-bottom: 1px solid transparent;
      }

      tr {
        height: 50px;
      }

      td,
      th:not(:last-child) {
        border: none;
      }

      th {
        font-weight: 500;
        text-align: left;
        padding: 0.6em 1em;
      }
    }

    tbody {
      tr:first-child {
        border-bottom: 1px solid transparent;
      }

      tr:nth-child(2n) {
        background-color: #f8f9fa;
      }

      tr {
        height: 40px;
        line-height: 40px;

        td {
          color: #596c8e;
          padding: .6em 1em;
        }
      }
    }
  }

  a {
    color: #3683d6;
  }

  code {
    color: #3683d6;
    padding: 0.15rem 0.5rem;
    margin: 0;
    background-color: #e4f1ff;
    border-radius: 4px;
  }

  p {
    margin-bottom: 50px;
    color: #45526B;
  }

  pre {
    margin-bottom: 30px;
    background: #f2f4f5;
    line-height: 30px;
    padding: 10px;
    text-indent: -7px;
  }

  pre code {
    color: #314659;
    background: transparent;
  }

  ol,
  p,
  ul {
    line-height: 2;
  }

  ol,
  ul {
    padding-left: 1.2em;

    li {
      list-style: disc;
      color: #45526B;
    }
  }
}