.r-layout-demo1 {
  margin: 0 auto;
  padding: 20px 40px;
  width: 800px;
  .l-header, .l-footer {
    background-color: #7dbcea;
    height: 70px;
  }
  .l-content {
    background-color: #108EE9;
  }
  .l-header, .l-footer, .l-content {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

.r-layout-demo2 {
  margin: 0 auto;
  padding: 20px 40px;
  width: 800px;
  .l-header, .l-footer {
    background-color: #7dbcea;
    height: 70px;
  }
  .l-content {
    background-color: #108EE9;
  }
  .l-l-layout {
    background-color: #108EE9;
  }
  .l-header, .l-footer, .l-content, .l-l-aside, .l-l-content {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .l-l-aside {
    background-color: #3ba0e9;
    width: 200px;
  }
}

.r-layout-demo3 {
  margin: 0 auto;
  padding: 20px 40px;
  width: 800px;
  .l-header, .l-footer {
    background-color: #7dbcea;
    height: 70px;
  }
  .l-header, .l-footer, .l-content, .l-l-aside, .l-l-content {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .l-l-aside {
    background-color: #3ba0e9;
    width: 200px;
  }
  .l-l-content {
    background-color: #108EE9;
  }
}