.nav-left {
  padding-top: 120px;

  h3 {
    color: rgba(0, 0, 0, 0.45);
    color: #45526B;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    padding: 20px 50px;
    -webkit-transition: all .3s;
    transition: all .3s;
  }

  ul {
    font-size: 14px;

    li {
      color: #596c8e;

      &:hover {
        color: #3963bc;
        font-weight: 500;
        transition: all 0.2s;
      }
    }

    .link-class {
      display: block;
      height: 40px;
      line-height: 40px;
    }

    .active {
      background-color: #e6f7ff;
      border-right: 2px solid #3963bc;
      color: #4a90e2;
      margin-right: -1px;
    }
  }
}