@import "./reset.scss";
@import "./mixin.scss";

a {
  color: #000;
  text-decoration: none;
}

.main-content {
  display: flex;
  flex-direction: row;

  &-right {
    margin-left: 280px;
    padding: 100px;
  }
}

.c-navleft {
  border-right: 1px solid #eaecef;
  box-sizing: border-box;
  height: 100vh;
  min-width: 280px;
  overflow: scroll;
  position: fixed;
}

.prism-code {
  padding: 20px;
}

.token-line {
  line-height: 30px;
}