.common-header {
  align-items: center;
  background: white;
  box-shadow: 0 2px 8px #f0f1f2;
  box-sizing: border-box;
  display: flex;
  height: 64px;
  justify-content: space-between;
  margin-bottom: 64px;
  padding: 0 20px;
  position: fixed;
  width: 100%;
  z-index: 1000;

  &-title {
    font-size: 24px;
    line-height: 64px;
  }

  .logo-pic {
    height: 60px;
    margin: 0 20px;
    width: 120px;
  }

  &-left {
    align-items: center;
    display: flex;
  }
}