.CodeMirror {
  height: auto;
}

.cm-s-neo {
  &.CodeMirror {
    padding-bottom: 10px;
    background: #e9f0f8;
  }
}

.md {
  padding-top: 40px;

  blockquote {
    padding: 0 1em;
    border-left: .25em solid #dfe2e5;
    color: #6a737d;

    p {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }


  h1 {
    padding-bottom: 20px;
    font-weight: 500;
    font-size: 24px;
    color: #45526B;
  }

  h2,
  h3 {
    padding: 20px;
    padding-left: 0px;
    font-weight: 500;
    font-size: 20px;
    color: #45526B;
  }

  h3 {
    font-size: 18px;
  }

  table {
    display: table;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    margin-bottom: 40px;
    color: #45526b;

    thead {
      line-height: 50px;
      background: #e8f0f9;

      tr:first-child {
        border-bottom: 1px solid transparent;
      }

      tr {
        height: 50px;
      }

      td,
      th:not(:last-child) {
        border: none;
      }

      th {
        padding: 0.6em 1em;
        font-weight: 500;
        text-align: left;
      }
    }

    tbody {
      tr:first-child {
        border-bottom: 1px solid transparent;
      }

      tr:nth-child(2n) {
        background-color: #f8f9fa;
      }

      tr {
        height: 40px;
        line-height: 40px;

        td {
          padding: .6em 1em;
          color: #596c8e;
        }
      }
    }
  }

  a {
    color: #3683d6;
  }

  code {
    padding: 0.15rem 0.5rem;
    margin: 0;
    border-radius: 4px;
    color: #3683d6;
    background-color: #e4f1ff;
  }

  p {
    margin-bottom: 50px;
    color: #45526B;
  }

  pre {
    padding: 10px;
    margin-bottom: 30px;
    line-height: 30px;
    text-indent: -7px;
    background: #f2f4f5;
  }

  pre code {
    color: #314659;
    background: transparent;
  }

  ol,
  p,
  ul {
    line-height: 2;
  }

  ol,
  ul {
    padding-left: 1.2em;

    li {
      list-style: disc;
      color: #45526B;
    }
  }
}