.r-grid-demo1, .r-grid-demo2, .r-grid-demo3 {
  background: #fff;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  height: 30px;
  line-height: 30px;
  margin-bottom: 20px;
  text-align: center;
  div {
    &:nth-child(odd) {
      background: #f4516c;
    }
    &:nth-child(even) {
      background: #8C98AE;
    }
  }
}
.r-grid-demo4 {
  background: #fff;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  height: 30px;
  line-height: 30px;
  margin-bottom: 20px;
  text-align: center;
  .item {
    background: #f4516c;
  }
}
.gutter {
  background: #f4516c;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  height: 30px;
  line-height: 30px;
  margin-bottom: 20px;
  text-align: center;
}